:root {
    --album-1-color: #312341;
    --album-1-color: #594176;
    --album-1-color: #623749;
    --album-1-color: #c37336;
    --album-1-color: #44447f;
    --album-2-color: #6988b9;
    --album-3-color: #ffea5f;
    --album-8-color: #6969b9;
  }